<div class="row">
    <div class="col">
        <div id="logo"></div>
        <div class="links text-center">
            <span><a href="/about">About</a></span>
            <!-- <span><a href="https://distantduets.bandcamp.com">Bandcamp</a></span> -->
            <span><a href="https://soundsinnoise.bandcamp.com">Bandcamp</a></span>
            <!-- <span><a href="/contact">Contact</a></span> -->
            <span><a href="mailto:distantduets@gmail.com">Contact</a></span>
        </div>
    </div>
</div>