html, body {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background: white;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
}

hr {
    margin-bottom: 2rem;
}

button:focus {
    outline: none;
}

#logo{
    background-image: url("images/D2D\ 2\ Low\ res.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    height: 400px;
    width: 400px;
    cursor: pointer;
}

.links {
    margin-bottom: 5%;

}

.links > span {
    padding: 30px;
}

.track-img {
    width: 100%;
}

.track-wrapper {
    max-width: 343px;
    margin: auto;
}

.track-search {
    position: relative;
    height: 8px;
    width: 200px;
    background: #80808054;
    border-radius: 3px;
    margin-bottom: 15px;
}

.track-ball {
    background: blue;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: -3px;
}

.control-play {
    border-radius: 4px;
    padding: 3px 12px;
    border: none;
    background: blanchedalmond;
    box-shadow: 1px 1px #eee; 
}

.control-play.playing{
    box-shadow: 0px 0px 2px 3px #d6d6d691;
    outline: none;
}

#about-wrapper {
    margin-bottom: 20px;
    border-radius: 5px;
}

#about-wrapper li {
    list-style-position: inside;
}

@media screen and (max-width: 768px){
    .links > span {
        padding: 10px;
    }
}
/* .two {
    font-size: 1.3em;
    font-weight: 600;
} */
