<%- include('../partials/head'); -%>


<div class="container">
    <%- include('../partials/nav'); -%>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div id="about-wrapper" class="text-center">
                <p> Distant Duets connects 2 musicians who have never worked together <br />to create a
                    collaborative piece
                    of
                    music
                    within 2 weeks.</p>
                Rules:
                <br />
                <ul>
                    <li>Each artist may add a maximum of 2 sounds, 2 times <br />(the piece
                        may only be
                        exchanged
                        back-and-forth
                        twice).</li>
                    <li> Enlist a fellow artist to participate in the following round.</li>
                    <li>Every other Sunday a work is released, and the next 2 artists begin their
                        process.</li>
                </ul>
                Artists may not meet in physical space during the process.
                <br />
                <br />
                2 artists <br />
                2 sounds <br />
                2 exchanges <br />
                2 weeks
                <br />
                <br />
                +
                <br />
                <br />
                Distant Duets is a project by Alec Fellman
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer"); -%>