<%- include('../partials/head'); -%>

<div class="container">
    <%- include('../partials/nav'); -%>
    <div class="row">
        <div class="col-md-10 offset-md-1">
	foooo
            <div id="boxDiv" class="row"></div>
            <!-- <h1 class="text-center" id="counter"></h1> -->
            <!-- <h1 class="text-center">First Duet May 24th...</h1> -->
        </div>
    </div>
</div>
<%- include("../partials/footer"); -%>
<!-- <%- include('../partials/audioPlayer'); -%> -->
