<%- include('../partials/head'); -%>

<div class="container">
    <%- include('../partials/nav'); -%>
    <div class="row">
        <div class="col">
            <div id="boxDiv" class="row"></div>
        </div>
    </div>
</div>
<%- include("../partials/footer"); -%>